<a href="/user/new"><span class="glyphicon glyphicon-plus" aria-hidden="true"/></span> Añadir Usuario</a>
<br>
<br>
<form enctype="multipart/form-data" action="/user/upload" method="post">
	<div class="form-group">
		<label for="exampleInputFile">Cargar LOTE de Usuarios</label>
		<input type="file" name="userLot" accept=".csv" required>
		<p class="help-block">Seleccione un fichero .CSV válido.</p>
	</div>
	<button type="submit" class="btn btn-info">Enviar</button>
</form>