<% var fN = user.firstName; %>
<% var lN = user.lastName; %>

Mostrar el Menú para <b><%= (fN || lN ? fN + " " + lN : '"' + user.username.toUpperCase() + '"') %></b><br>
<br>
<a href="/word">Gestión de PALABRAS</a>
<br>
<br>
<a href="/translation">Gestión de TRADUCCIONES</a>
<br>
<br>
<a href="/exercises">Gestión de EJERCICIOS</a>
<br>
<br>
<a href="/packs">Gestión de PAQUETES (EJERCICIOS)</a>
