Elija el/los tipo/s de Ejercicio/s que quiere añadir (opcional)<br>
Pulse Ctrl para selecionar varios. No seleccionar ninguno es lo mismo que seleccionar todos.
<p>
	<select name="type" size="4" multiple>
		<option value="1">Trust</option>
		<option value="2">Write</option>
		<option value="3">Select</option>
		<option value="4">Relation</option>
	</select>
<p>
<p>
