<br>
<a href="/system/log">Visualización del LOG</a>
<br>
<br>
<br>
<a href="/system/statistics">Generación de Estadísticas</a>
<br>
<br>
<br>
<a href="/system/cleanup">Realizar Tareas de Mantenimiento en la BBDD (limpiar entidades huerfanas,etc..)</a>
<br>
<br>