<% var isAdmin = user.isAdmin %>
<% var isTeacher = user.isTeacher || isAdmin %>
<% var isStudent = !isTeacher %>
<% include _head.ejs %>
<% if(isTeacher){ %>
<% if(isAdmin){ %>
<br>
<a href="/user/teachers">Gestión de PROFESORES</a>
<br>
<br>
<% } %>
<% include _teacher.ejs %>
<% if(isAdmin){ %>
<br>
<a href="/system">MANTENIMIENTO del SISTEMA</a>
<br>
<% } %>
<% } %>
<% if(isStudent){ %>
<% include _student.ejs %>
<% } %>
