<form method="get" action="/exercise/new">
	<fieldset>
		<legend>Seleccionar LENGUAS del nuevo EJERCICIO</legend>
		<% include _type.ejs %>
		<% include ../includes/_langues.ejs %>
	</fieldset>
</form>